@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.background-color {
  background-color: #0a0a0a;
}

.background-header {
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.66);
}

.background-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(201, 201, 201, 0.8) 0%,
    rgba(196, 196, 196, 0.1) 100%
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: inherit;
  opacity: 0.3;
}

.no-border-selection {
  border: none !important;
}

.hero-header-text {
  background: #f24e1e;
  background: linear-gradient(to bottom, #f24e1e 0%, #a559f7 95%, #a259ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-circle-1 {
  position: relative;
}

.bg-circle-1::before {
  content: "";
  position: absolute;
  inset: 0; /* full circle */
  border-radius: 50%;
  background-image: linear-gradient(
    to right bottom,
    #ec4f2f,
    #fa2f5c,
    #f61f8b,
    #de38bc,
    #ab58e8
  );
  opacity: 0.33;
  filter: blur(100px);
}
.try-now-btn {
  background-color: #ed4f2d !important;
  color: white !important;
  border-radius: 27px !important;
  width: 222px;
  height: 43px;
}

.try-now-btn:hover {
  cursor: pointer;
}

.background-introduce-card {
  /* position: relative; */
  overflow: hidden; /* tránh nền tràn */
}

.background-introduce-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, #c9c9c9 0%, #c4c4c4 100%);
  opacity: 0.3; /* 👈 áp dụng mờ ở đây */
  z-index: -1; /* 👈 nằm sau text */
}

.background-ticket {
  position: relative; /* cần cho ::before bám */
  overflow: hidden; /* tránh nền bị tràn ngoài bo góc */
}

.background-ticket::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit; /* bo tròn giống thẻ cha */
  background: linear-gradient(
    135deg,
    rgba(201, 201, 201, 0.8) 0%,
    rgba(196, 196, 196, 0.1) 100%
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: inherit;
  opacity: 0.3;
}

.background-contact {
  position: relative;
  border-bottom: 2px solid rgba(255, 255, 255, 0.66);
  overflow: hidden;
}

.background-contact::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(201, 201, 201, 0.8) 0%,
    rgba(196, 196, 196, 0.1) 100%
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: inherit;
  opacity: 0.3;
}

.contact-input {
  background-color: rgba(223, 218, 218, 0.57);
  border: none !important;
}

.submit-btn {
  background: #d2537a;
  background: linear-gradient(
    133deg,
    rgba(210, 83, 122, 1) 0%,
    rgba(237, 79, 45, 1) 100%
  );
  border-radius: 27px;
  color: white;
  width: 185px;
  height: 43px;
}

.contact-info {
  border-radius: 27px 27px 0px 27px;
  background: rgba(201, 201, 201, 0.8);
  background: linear-gradient(
    45deg,
    rgba(201, 201, 201, 0.8) 0%,
    rgba(196, 196, 196, 0.1) 100%
  );
}

.contact-box {
  background: #f24e1e;
  background: linear-gradient(
    180deg,
    rgba(242, 78, 30, 1) 0%,
    rgba(162, 89, 255, 1) 100%
  );
}
